@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* noto-serif-font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared styles */
.primary-btn{

}
.flex{
display: flex;
align-items: center;
}
.body{
   background-color: whitesmoke;
}
/* header styles  */
/* navbar styles */

.navber{
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px;
}
.img{
    width: 135px;
    height: 82px;
}
.nav-links{
    gap: 48px;
    align-items: center;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #252432;
}
/* banner-title-styles */
.banner{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
}
.banner-describe{
    font-size: 22px;
    font-weight: 400;
    margin-top: 13px;
    color: rgba(0, 0, 0, 0.5);
    
}


