@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* noto-serif-font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared styles */
.primary-btn{
    background-color: #E95A08;
    padding:19px 80px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
}
.flex{
display: flex;
align-items: center;
}
.body{
   background-color: whitesmoke;
}
.font-two{
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    
}
/* header styles  */
/* navbar styles */

.navber{
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px;
}
.img{
    width: 135px;
    height: 82px;
}
.nav-links{
    gap: 48px;
    align-items: center;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #252432;
}
/* banner-title-styles */
.banner{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
}
.banner-describe{
    margin-top: 13px;
}
/* main-section styles */
.our-plants{
    width: 1140px;
    margin: 0 auto;
    margin-top: 235px;
}
.plants{
    text-align: center;
}
.plants-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 16px;
}
.plants-describe{
    margin-bottom: 50px;
}

.flower-gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gallery{
    width: 270px;
    height: 485px;
    margin-bottom: 30px;
    
}
.img-title{
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #111111;
    margin-bottom: 20px;
}
.price{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #111111;

}
/* trusted-style */
.trusted{
    width: 1140px;
    margin: 0 auto;
    margin-top: 75px;
    display: flex;
    justify-content: center;

}
.trusted img{
    width: 286px;
    height: 286px;
    box-shadow: -4px 10px 4px 0px rgba(0, 0, 0, 0.25);
}
/* flower-&-plants-lover-styles */
.plants-lover{
    display: grid;
    grid-template-rows: 2,1fr;
    
}
.flower-lover{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
    margin-bottom: 20px;

}
.box{
    width: 540px;
    height: 521px;
}

.flower-lover-describe li{
    list-style-type: disc;
    margin-bottom: 20px;
}

